 <div class="container">
  <h2>File Management</h2>
  
    <div>
      <input type="file" (change)="onFileSelected($event)" multiple />
    </div>
  
    <div *ngIf="files.length > 0">
      <h3>Uploaded Files</h3>
      <ul>
        <li *ngFor="let file of files; let i = index">
          {{ file.name }}
          <button (click)="viewFile(file)"><mat-icon class="searc">home</mat-icon>View</button>
          <button (click)="downloadFile(file)" ><mat-icon class="searc">download</mat-icon> Download</button>
          <button (click)="deleteFile(i)"><mat-icon class="searc">delete</mat-icon>Delete</button>
        </li>
      </ul>
    </div>
  </div>
  