<!-- <p>navbar works!</p> -->
<nav>
    <ul>
      <li><a routerLink="/review">Review</a></li>
      <li><a routerLink="/queue">Queue</a></li>
      <li><a routerLink="/music">Music</a></li>
      <li><a routerLink="/signin">Signin</a></li>
      <li><a routerLink="/signup">Signup</a></li>
      <li><a routerLink="/first"> First</a></li>
      <li><a routerLink="/shopify"> Shopify</a></li>
      <li><a routerLink="/shop"> Shop</a></li>
      <li><a routerLink="/topics"> Topics</a></li>
      <li><a routerLink="/jobland"> Jobland</a></li>
      <li><a routerLink="/file-upload"> FileUpload</a></li>
      <li><a routerLink="/apicall"> Apicall</a></li>
      <!-- <a routerLink="/music" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" outlet="sidebar">Music</a> -->
    </ul>
  </nav>