<!-- <p>shopify works!</p> -->
<div class="product-admin">
    <h2>Product Admin</h2>

    <form [formGroup]="form">
    <div formArrayName="items"> 
      <div *ngFor="let item of items.controls; let i=index" [formGroupName]="i">
        <div>

          <label>Name:</label>
          <input type="text" name="name" formControlName="name" required>
          <!-- <div *ngIf="isInvalid('items.' + i + '.name') && isTouched('items.' + i + '.name')">Name is required and should be at most 8 characters.</div> -->
       
          <label>Description:</label>
          <textarea name="description" formControlName="description" required></textarea>
        
          <label>Image URL:</label>
          <input type="text" name="image" formControlName="image" required>
        
          <label>Price:</label>
          <input type="number" name="price" formControlName="price" required>
        </div>
          

        <button (click)="deleteItem(i)">Delete</button>
        <!-- <button (click)="editItem(i)">Edit</button> -->
      </div>
      </div>
   
    <button (click)="addItem()">Add</button>
    </form>
    <button (click)="submit()">Submit</button>
    {{form.value | json}}
  </div>  

  <div class="table" *ngFor="let prod of ProductData " >
  

    <p>{{prod.description}}</p><hr>
      
  </div> 