.product-admin {
    max-width: 600px;
    margin: 0 auto;
  }
  
  form {
    margin-bottom: 20px;
  }
  
  form div {
    margin-bottom: 10px;
  }
  
  label {
    display: block;
  }
  
  input[type="text"],
  input[type="number"],
  textarea {
    width: 100%;
  }