
<!-- <h1>my Table</h1>
<hr>

<table>
  <tr>
    <th *ngFor="let column of headers">
      {{column}}
    </th>
  </tr>

  <tr *ngFor="let row of rows">
    <td *ngFor="let column of headers">
      {{row[column]}}
    </td>
  </tr>
</table> -->


<!-- <div style="text-align: center;"> -->
  

    <!-- <div>
      <label for="name">Name:</label>
      <input type="text" id="name" name="name" [(ngModel)]="name" pattern="[a-z]*" />
      <p *ngIf="name.length>0 && !isNameValid()">Please enter a valid name</p>
    </div> -->
    <!-- <textarea class="form-control" id="title"  
 name="title" [(ngModel)]="titleModel"></textarea> 
<span style="color:red" *ngIf="titleModel && titleModel.length > 10">
  ... your content here ... -->
<!-- </span> -->
<!-- </div> -->

<!-- <button (click)="openPopup()">Open Popup</button> -->
  <!-- <app-popup></app-popup> -->
   <!-- <button (click)="navigateToOtherPage()">Go to Other Page</button> -->
  <!-- <ul>
     
    <li><a routerLink="/">Review</a></li>
    <li><a routerLink="/queue">Queue</a></li>
    <li><a routerLink="/music">Music</a></li>
  </ul>  -->
  <!-- <div>
    <h1>File Upload Example</h1>
  </div>  -->
  
  <!-- <app-product></app-product> -->
    <!-- <app-shopify></app-shopify> -->
    <!-- <app-shop></app-shop> -->
  <!-- <app-first></app-first> -->
  <!-- <app-queue></app-queue>  -->
  <!-- <app-music></app-music>   -->
  <!-- <app-review></app-review> -->
  <!-- <app-signin></app-signin> -->
  <!-- <app-signup></app-signup>  -->
   <!-- <app-jobland></app-jobland> -->
  <app-apicall></app-apicall>
  <!-- <app-file-upload></app-file-upload> -->
  <!-- <app-music></app-music> -->
  <!-- Examples for using @Input,@output,@ViewChild -->
 <!-- <app-topics [fromChild]="parentmsg" (messageEvent)="receiveMessage($event)"></app-topics>
 {{msg}}
 <p>{{outputchild}}</p> -->

 <!-- //////////////// -->

 
  <!-- <app-navbar></app-navbar> -->
<!-- <router-outlet></router-outlet> -->

<!-- <div>
  <router-outlet></router-outlet> 
</div>
<div>
  <router-outlet name="sidebar"></router-outlet> 
</div> -->

<!-- <p>hello</p>  -->
 <!-- <div>
<div class="table" *ngFor="let prod of ProductData " >
  

  <p>{{prod.description}}</p><hr></div>
    
</div> -->

<!-- <div class="table" *ngIf="ProductData | async" ></div> -->
<!-- <div   >
  <h1>{{ProductData.id}}</h1><hr>
</div> -->

<!-- <div>
  {{ProductData}}
  </div> -->
  <!-- <p> option: <select [(ngModel)]="selectedOption">
    
    
   <option value="option1" >Option 1</option>
    <option value="option2" >Option 2</option>
    <option value="option3" >Option 3</option>
  </select></p>
  <p>Selected Option: {{ selectedOption }}</p> -->

  <!-- <textarea [(ngModel)]="message" ></textarea>
    <p>You typed: {{ message }}</p> -->

    <!-- <table>
      <thead>
        <tr>
          <th>Column 1</th>
          <th>Column 2</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of tableData">
          <td>{{ row.column1 }}</td>
          <td>{{ row.column2 }}</td>
        </tr>
      </tbody>
    </table> -->

    <!-- <header>
      <h1>Website Header</h1>
  </header>
  <nav>
      <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
      </ul>
  </nav>
  <section>
      <article>
          <h2>Article Title</h2>
          <p>Article content goes here...</p>
      </article>
  </section>
  <footer>
      <p>Copyright © 2024 Example Company. All rights reserved.</p>
  </footer>
  
  <form>
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required placeholder="Enter your email">
    <label for="dob">Date of Birth:</label>
    <input type="date" id="dob" name="dob">
    <input type="submit" value="Submit">
</form>

<mat-form-field>
  <input matInput [matDatepicker]="picker" placeholder="Choose a date" [formControl]="dateControl">
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field> -->