<mat-card class="card">
    <div class="hello">
        
  
        <div class="item">
        <span class="menu-item">Brainwave.io</span>
          <span class="menu-item">Demos</span>
          <span class="menu-item">Pages</span>
          <span class="menu-item">Support</span>
          <span class="menu-item">contact</span>
          
          
        </div>
        <button clickme=onclick() class="hi">Get start a project</button>
        </div>

        <div class="designs">
            <h1 class="heads">LET'S SHIFT YOUR BUSINESS</h1>
            <div class="line1">Shift your business</div>
    <div class="line2">fast with Shade Pro</div>
            <p>with lots of unique blocks,you can easily build a page<br>
                without coding.Build your next consultancy website within<br>
                few minutes</p>
            <button clickme=onclick() class="his">Get start a project</button>
          </div>

          <div class="designs1">
            <h1 class="heads">OUR SERVICES</h1>
            <div class="line3">we provide great service for our</div>
             <div class="line4">customers based on needs</div>
             </div>
        <div class="boxes">
          <div class="box" [style.background-color]="'limegreen'">
            <h1 class="heads1">Graphic Design</h1>
            <div>with lots of unique blocks,you can</div>
            <div> easily build a page without coding.</div>
            <div> Build your next landing page</div>
            
            <h1 class="heads2">Learn more  <mat-icon>arrow_right_alt</mat-icon></h1>
        
        </div>
          <div class="box" [style.background-color]="'blue'">
            <h1 class="heads1">Graphic Design</h1>
           <div>with lots of unique blocks,you can</div>
           <div> easily build a page without coding.</div>
           <div>Build your next landing page</div> 
            <h1 class="heads2">
              <span class="learnmore">Learn more</span>
              <mat-icon>arrow_right_alt</mat-icon></h1>
          </div>
          <div class="box" [style.background-color]="'red'">
            <h1 class="heads1">Graphic Design</h1>
            <div>with lots of unique blocks,you can </div>
            <div>easily build a page without coding.</div>
            <div>Build your next landing page</div>
            <h1 class="heads2">Learn more <mat-icon>arrow_right_alt</mat-icon> </h1>
          </div>
        </div>
        <div class="star">
        <mat-icon>grade</mat-icon><mat-icon>grade</mat-icon><mat-icon>grade</mat-icon><mat-icon>grade</mat-icon><mat-icon>grade</mat-icon>
        </div>
        <div class="line3">"OMG! I can't believe that I have got a brand new loading page</div>
    <div class="line4">after getting Albino. It was super easy to edit and publish</div>
      <div class="letter">
    <div class="line5">Franklin Hicks </div>
    <p class="line6">Web Developer</p>  
    </div>
    <div class="straight-line"></div>
    <div class="designs">
      <h1 class="heads">OUR STORY</h1>
      <div class="line1">We know how everything works</div>
      <div class="line1">and why your business is failing</div>
      <div class="line1">over and over again</div>
   
    <p class="line9">We share common trends and strategies for improving your<br>
      rental income and making sure you stay in high demand.with<br>
      lots of ynique blocks,you can easily build a page without<br>
      coding.building your next landing page</p>
    </div>

      <div class="design">
        <div class="line11">1M+</div>
        <p class="line10">Customers visit omega every month<br>
          to get their service done.</p>
        <div class="line11">92%</div>
        <p class="line10">Satisfaction rate comes from our<br>
          awesome customers.</p>
        <div class="line11">4.9/5.0</div>
        <p class="line10">Average customer ratings you have<br>
          got all over internet.</p>
        </div>

    </mat-card>
