 <div class="image">
    <img [src]="imageUrl" alt="Description of the image" class="image">
    <div class="text-overlay">
 <div class="hello">
 
  <span class="hi">my logo</span>
 
  <div class="item">
    <span class="menu-item">Home</span>
    <span class="menu-item">aboutus</span>
    <span class="menu-item">contact us</span>
    <span class="menu-item">sign up</span>
    
  </div>
  </div>
 
  <div class="design">
    <h1 class="head">Design your website</h1>
    <p>lorum ipsum dolor sit amet consectior adispicing eisy.avccdjd repellat repellendous <br>
      optio numquam totam placeat animie site</p>

  </div>

  <div class="butt">
  <button clickme=onclick() class="first">more</button>
  <button clickme=onclick() class="second">subscribe</button>
  </div>
  </div>
  </div>

<div class="footer">
  <div class="info">
  <div class="more">
    <span class="link">more links</span>
    <span class="menu">my account</span>
    <span class="menu">my order</span>
    <span class="menu">my favourite</span>
  </div>

  <div class="more1">
    <span class="link">location</span>
    <span class="menu">andhra</span>
    <span class="menu">telangana</span>
    <span class="menu">banglore</span>
  </div>

  <div class="more2">
    <span class="link">contact info</span>
    <span class="menu">+999-888-7772</span>
    <span class="menu">test@gmail.com</span>
    <span class="menu">hyde-telanaa</span>
  </div>
  </div>
</div>
