<div class="start">
<nav class="hello">
    <div class="header">
    <ul>
    <li><a href="#">job</a></li>
    <li><a href="#">find jobs</a></li>
    <li><a href="#">salary tools</a></li>
    <li><a href="#">career advice</a></li>
    <li> <button  ><a href="#">upload resume</a></button></li>
    <li><a href="#">sign in</a></li>
   <li> <button> <a href="#">Employer </a></button></li>
   </ul>
    </div>
</nav>
<app-file-upload></app-file-upload>
<!-- <div class="cnt">

    <div class="matter">
        <p class="job">Find the right fit<br>
            find Remote-friendy.</p>
        <p>Don't just change jobs.Transform your career.Begin your journey by seraching our last career opportunities</p>
    </div>
    

<div class="mat-card">
    <div class="content">
        <h1 >Search for a job</h1>
        <p>Search millions of job.Do meaningful work that impacts the world</p>
        <div class="input">
            <input type="text" class="search-bar" placeholder="Job title or keyword" required> 
        </div>
        <div class="input">
            <input type="text" class="search-bar" placeholder="Location" required> 
        </div>
        <button type="submit" class="btn">Search</button>
    </div>
</div>

</div> -->


<div class="container">
    <div class="matter">
      <p class="job">Find the right fit.<br>Remote-friendly.</p>
      <p>Don't just change jobs. Transform your career. Begin your<br> journey by searching our latest career opportunities</p>
      <div class="stats">
        <div class="stat1">
          <p class="number">8950</p>
          <p>Available jobs today</p>
        </div>
        <div class="stat">
          <p class="number">1450</p>
          <p>Companies today</p>
        </div>
      </div>
    </div>
  
    <div class="mat-card">
      <div class="content">
        <h1>Search for a job</h1>
        <p>Search millions of jobs. Do meaningful work that impacts the world</p>
        <div class="input">
            <mat-icon class="searc">search</mat-icon> 
          <input type="text" class="search-bar" placeholder="Job title or keyword" required> 
        </div>
        <div class="input">
            <mat-icon class="searc">language</mat-icon>
          <input type="text" class="search-bar" placeholder="Location" required> 
        </div>
        <button type="submit" class="btn" (click)="onSearch()">Search</button>
      </div>
    </div>
  </div>
  

</div>

<!-- <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
        
            <a class="nav-link active" aria-current="page" href="#">nav</a>
        
        
           
              <a class="nav-link active" aria-current="page" href="#">Home</a>
           
            
              <a class="nav-link" href="#">Features</a>
            
           
              <a class="nav-link" href="#">Pricing</a>
            
            
              <a class="nav-link disabled" aria-disabled="true" href="#">Disabled</a>
          
       
        
      </div>
    </nav>
  </header>
   -->